@import "tailwindcss";

@font-face {
    font-family: 'Bebas';
    src: url('@/assets/font/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --noir:#000000;
    --bleu:#3B3F5C;
    --jaune:#FCA616;
    --grisf:#666666;
    --gris:#EAEAEA;
    --blanc:#FFFFFF;


}

body  {
    font-family:Bebas ;
    font-weight: 400;

}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}